.background-image {
  height: 100vh;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.navbar-style {
  width: 20%;
  margin: 0 auto auto auto;
  background: #d6c99c;
  opacity: 0.8;
  border-radius: 20% 25%;
}

.card {
  max-width: 45%;
  margin: 0 auto;
  background-color: transparent !important;
}

.card-body {
  background-color: white;
  opacity: 0.9;
}

.card-wrapper {
  padding-bottom: 25px;
}

.home {
  background-color: #d6c99c;
  height: 100%;
  margin: 50px auto;
  opacity: 0.8;
  border: solid 3px black;
  border-radius: 2% 25%;
  max-width: 750px;
  min-width: 10%;
  width: 90%;
}

.footer {
  margin: 0 auto;
  width: 100%;
  background: #d6c99c;
  opacity: 0.9;
  bottom: 0;
}

.footer > div {
  height: 100%;
  display: flex;
  justify-content: center;
}

.about {
  background-color: #d6c99c;
  margin: 50px auto;
  opacity: 0.9;
  border: solid 3px black;
  border-radius: 25% 2%;
  max-width: 750px;
  width: 90%;
  height: 100vh;
}

.form {
  margin-top: 10%;
}

.menu {
  position: relative;
  right: 10px;
  top: 25%;
}
